@page
@model MyCars.Areas.Cars.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<style>
    body {
        background-color: lightgray;
        text-align: center;
        padding: 50px;
    }

    h1 {
        color: saddlebrown;
    }

    .container {
        max-width: 600px;
        margin: 0 auto;
    }

    .form-group {
        margin-top: 20px;
    }

    .btn-primary, .btn-success {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        margin-right: 10px;
    }

    .btn-primary {
        background-color: saddlebrown;
        color: #fff;
        transition: background-color 0.3s;
    }

        .btn-primary:hover {
            background-color: #8b4513;
        }

    .btn-success {
        background-color: #28a745;
        color: #fff;
        transition: background-color 0.3s;
    }

        .btn-success:hover {
            background-color: #218838;
        }
</style>

<div class="container mt-4">
    <h1>Create a New Car</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Car Details</h4>
            <hr />

            <form method="post" enctype="multipart/form-data">

                <partial name="~/Pages/Shared/EditorTemplates/Car.cshtml" model="@Model.Car" />

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <a asp-page="Index" class="btn btn-success">Back to List</a>
                </div>

            </form>
        </div>
    </div>
</div>
